@import 'variables';
@import 'bootstrap';

@import 'landing';

#nav {
    background-color:$purple;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    padding:1rem 0;
}

#logo {
    max-width:260px;
    position:absolute;
    left:2rem;
}

img {
    max-width:100%;
}

.btn-rounded {
    border-radius:54px;
}

.navbar-nav {
    .nav-item {
        a {
            font-size:16px;
            text-transform:uppercase;
        }
    }
}

.pricing-card {
    position:relative;
    box-shadow: 4px 6px 10px 0 rgba(0,0,0,0.5);
    border-radius: 4px;
    padding:1.5rem 1rem;

    dl dd {
        min-height:48px;
    }

    .pricing-button {
        background:#fff;
        color:$purple;
        font-size:20px;
        line-height:24px;
        padding:1em 2em;
        text-align:center;
        border:$purple 1px solid;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);

        position:absolute;
        left:1em;
        right:1em;
        bottom:0px;
        transform:translateY(50%);

        &:hover {
            background:$purple;
            color:#fff;
        }
    }
}

img.headshot {
    display: block;
    width: 256px;
    height: 256px;
    background-size: 50% 50%;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.25);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
}

@media (min-width:986px) and (max-width:1200px) {
    .pricing-card {
        dl dd {
            min-height:72px;
        }

        .pricing-button {
            padding:0.8em 1.5em;
        }
    }
}

@media (max-width:985px) {
    #logo {
        position:static;
    }

    .pricing-card {
        margin-bottom:4rem;
    }
}

@media (min-width:1400px) {
    #logo {
    }
}

html { font-size:16; }

@media (max-width:767px) {
    html { font-size:14px; }
}

@media (max-height:600px) {
    #landing {
        height:1000px;
    }
}
