---
title: About | Multipass
description: Find out more about the team behind Multipass, the secure and fast way to share passwords, keys, and configs with your team
---

<% content_for :page_subtitle do %>
    <p class="lead">Meet the team behind Multipass</p>
<% end %>

<div class="container" id="about">
    <div class="row">
        <div class="col-lg-4">
            <div class="p-3">
                <div class="card-block">
                    <h3 class="text-center">Ryan MacArthur</h3>
                    <%= image_tag "about/ryan.jpg", class: 'ml-auto mr-auto mb-4 headshot' %>
                    <p>
                        Ryan likes building simple and secure
                        products and has started multiple cyber security
                        companies. He studied Security Informatics at The
                        Johns Hopkins Information Security Institute
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="p-3">
                <div class="card-block">
                    <h3 class="text-center">Michael J Coyne</h3>
                    <%= image_tag "about/michael.jpg", class: 'ml-auto mr-auto mb-4 headshot' %>
                    <p>
                        Michael is a full-stack software engineer with a
                        passion for computer security. He lead the
                        implementation of Multipass, which is built using React
                        and Redux.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="p-3">
                <div class="card-block">
                    <h3 class="text-center">Eren Song</h3>
                    <%= image_tag "about/eren.jpg", class: 'ml-auto mr-auto mb-4 headshot' %>
                    <p>
                    Eren is a UX designer at Microsoft. She studied graphic
                    design and entertainment technology at CMU. She loves art, 
                    traveling, and gaming.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


