---
title: Multipass | Password sharing Google Chrome extension
description: "Multipass: The secure and fast way to share passwords, keys, and configs with your team"
---

<% content_for :page_subtitle do %>
    <p class="lead">
        Now available in the
        <a href="#">
            Chrome Web Store
            <i class="fa fa-chrome" aria-hidden="true"></i>
        </a>
    </p>
<% end %>

<div class="container" id="index">
    <div class="row">
        <div class="col-lg-4">
            <div class="p-3">
                <div class="card-block">
                    <h3 class="text-center">
                        <i class="fa fa-smile-o" aria-hidden="true"></i>
                        Simple
                    </h3>
                    <p>
                        Built for simplicity and speed, Multipass makes it easy to
                        share passwords and secrets through a Group based approach.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="p-3">
                <div class="card-block">
                    <h3 class="text-center">
                        <i class="fa fa-google" aria-hidden="true"></i>
                        Own Your Data
                    </h3>
                    <p>
                        We leverage G Suite and Google Drive to store encrypted
                        data. Through our trustless software design, we never
                        store or get access to any of your data.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="p-3">
                <div class="card-block">
                    <h3 class="text-center">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        Secure
                    </h3>
                    <p>
                        Multipass uses public key cryptography to securely share
                        secrets and passwords with other users in your organization.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

